.u-section-1 .u-sheet-1 {
  min-height: 272px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 24px auto 0 449px;
}

.u-section-1 .u-btn-2 {
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -45px auto 60px 585px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 349px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 239px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 295px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-1 {
  text-align: start;
  margin: 20px auto 0 117px;
}

.u-section-2 .u-text-2 {
  margin: 117px auto 60px 117px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 74px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 74px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}